<section class="advantages">
  <div class="container">
    <h2 class="visually-hidden">Преимущества</h2>
    <ul class="list">
      <li data-aos="flip-up" data-aos-delay="150">
        <svg>
          <use
            href="./images/icons/sprite.svg#icon-female-student-border"
          ></use>
        </svg>
        <p>Адаптированная авторская программа ВНО</p>
      </li>
      <li data-aos="flip-up" data-aos-delay="300">
        <svg>
          <use
            href="./images/icons/sprite.svg#icon-mobile-learning-border"
          ></use>
        </svg>
        <p class="text-align">Современные методики обучения</p>
      </li>
      <li data-aos="flip-up" data-aos-delay="450">
        <svg>
          <use href="./images/icons/sprite.svg#icon-insurance-border"></use>
        </svg>
        <p>Финансовая гарантия результата</p>
      </li>
    </ul>
  </div>
</section>
